# Fashion Product Classifier

## Downloading the Data

In [ ]:
!pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.20-py3-none-any.whl (14 kB)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.62.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2021.10.8)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.20

In [ ]:
import opendatasets as od

In [ ]:
od.download("https://www.kaggle.com/paramaggarwal/fashion-product-images-small")

In [ ]:
cd fashion-product-images-small/

/content/fashion-product-images-small

## Image name with Extension

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("styles.csv",error_bad_lines=False)

b'Skipping line 6044: expected 10 fields, saw 11\nSkipping line 6569: expected 10 fields, saw 11\nSkipping line 7399: expected 10 fields, saw 11\nSkipping line 7939: expected 10 fields, saw 11\nSkipping line 9026: expected 10 fields, saw 11\nSkipping line 10264: expected 10 fields, saw 11\nSkipping line 10427: expected 10 fields, saw 11\nSkipping line 10905: expected 10 fields, saw 11\nSkipping line 11373: expected 10 fields, saw 11\nSkipping line 11945: expected 10 fields, saw 11\nSkipping line 14112: expected 10 fields, saw 11\nSkipping line 14532: expected 10 fields, saw 11\nSkipping line 15076: expected 10 fields, saw 12\nSkipping line 29906: expected 10 fields, saw 11\nSkipping line 31625: expected 10 fields, saw 11\nSkipping line 33020: expected 10 fields, saw 11\nSkipping line 35748: expected 10 fields, saw 11\nSkipping line 35962: expected 10 fields, saw 11\nSkipping line 37770: expected 10 fields, saw 11\nSkipping line 38105: expected 10 fields, saw 11\nSkipping line 38275: expected 10 fields, saw 11\nSkipping line 38404: expected 10 fields, saw 12\n'

In [ ]:
df.head(10)

      id gender  ...   usage                             productDisplayName
0  15970    Men  ...  Casual               Turtle Check Men Navy Blue Shirt
1  39386    Men  ...  Casual             Peter England Men Party Blue Jeans
2  59263  Women  ...  Casual                       Titan Women Silver Watch
3  21379    Men  ...  Casual  Manchester United Men Solid Black Track Pants
4  53759    Men  ...  Casual                          Puma Men Grey T-shirt
5   1855    Men  ...  Casual           Inkfruit Mens Chain Reaction T-shirt
6  30805    Men  ...  Ethnic               Fabindia Men Striped Green Shirt
7  26960  Women  ...  Casual                  Jealous 21 Women Purple Shirt
8  29114    Men  ...  Casual                       Puma Men Pack of 3 Socks
9  30039    Men  ...  Casual                         Skagen Men Black Watch

[10 rows x 10 columns]

In [ ]:
df['image'] = df.apply(lambda row: str(row['id']) + ".jpg", axis=1)

In [ ]:
df.head(10)

      id gender  ...                             productDisplayName      image
0  15970    Men  ...               Turtle Check Men Navy Blue Shirt  15970.jpg
1  39386    Men  ...             Peter England Men Party Blue Jeans  39386.jpg
2  59263  Women  ...                       Titan Women Silver Watch  59263.jpg
3  21379    Men  ...  Manchester United Men Solid Black Track Pants  21379.jpg
4  53759    Men  ...                          Puma Men Grey T-shirt  53759.jpg
5   1855    Men  ...           Inkfruit Mens Chain Reaction T-shirt   1855.jpg
6  30805    Men  ...               Fabindia Men Striped Green Shirt  30805.jpg
7  26960  Women  ...                  Jealous 21 Women Purple Shirt  26960.jpg
8  29114    Men  ...                       Puma Men Pack of 3 Socks  29114.jpg
9  30039    Men  ...                         Skagen Men Black Watch  30039.jpg

[10 rows x 11 columns]

In [ ]:
df = df.sample(frac=1)

In [ ]:
df.head(10)

          id  ...      image
24718   9236  ...   9236.jpg
7190   21804  ...  21804.jpg
802    45269  ...  45269.jpg
18896   2251  ...   2251.jpg
6837    5141  ...   5141.jpg
24650   3992  ...   3992.jpg
32594  18923  ...  18923.jpg
11257  16460  ...  16460.jpg
24122  36796  ...  36796.jpg
17718  46208  ...  46208.jpg

[10 rows x 11 columns]

In [ ]:
df = df.sample(frac=1).reset_index(drop=True)

In [ ]:
df.head(10)

      id  gender  ...                        productDisplayName      image
0   7106  Unisex  ...           Wildcraft Unisex Black Backpack   7106.jpg
1  49738     Men  ...                Park Avenue Men Maroon Tie  49738.jpg
2  53715   Women  ...                 Kiara Women Cream Handbag  53715.jpg
3  33868     Men  ...  Citizen Men Black Dial Chronograph Watch  33868.jpg
4  15898  Unisex  ...  Warner Bros Kids Blue Dance Casual Shoes  15898.jpg
5  13676     Men  ...             ADIDAS Men Titan Sports Shoes  13676.jpg
6  47165     Men  ...              Peter England Men Black Belt  47165.jpg
7  25026   Women  ...              Nike Women Miler Blue Jersey  25026.jpg
8  15022     Men  ...         ADIDAS Men Solid Grey Track Pants  15022.jpg
9  57225   Women  ...                  Murcia Women Red Handbag  57225.jpg

[10 rows x 11 columns]

## Preparing the ImageDataGenerator for training the model

In [ ]:
from keras_preprocessing.image import ImageDataGenerator
batch_size = 256

image_generator = ImageDataGenerator(
    validation_split=0.2
)

training_generator = image_generator.flow_from_dataframe(
    dataframe=df,
    directory="images",
    x_col="image",
    y_col="masterCategory",
    target_size=(60,80),
    batch_size=batch_size,
    subset="training"
)

validation_generator = image_generator.flow_from_dataframe(
    dataframe=df,
    directory="images",
    x_col="image",
    y_col="masterCategory",
    target_size=(60,80),
    batch_size=batch_size,
    subset="validation"
)
classes = len(training_generator.class_indices)

/usr/local/lib/python3.7/dist-packages/keras_preprocessing/image/dataframe_iterator.py:282: UserWarning: Found 5 invalid image filename(s) in x_col="image". These filename(s) will be ignored.
  .format(n_invalid, x_col)

Found 35536 validated image filenames belonging to 7 classes.
Found 8883 validated image filenames belonging to 7 classes.

/usr/local/lib/python3.7/dist-packages/keras_preprocessing/image/dataframe_iterator.py:282: UserWarning: Found 5 invalid image filename(s) in x_col="image". These filename(s) will be ignored.
  .format(n_invalid, x_col)

In [ ]:
classes

7

## Initializing the Model using Neural Network

In [ ]:
from keras.models import Sequential
from keras.layers import Conv2D
from keras.layers import MaxPooling2D
from keras.layers import Flatten
from keras.layers import Dense

In [ ]:
#Initializing our model
classifier = Sequential()

classifier.add(Conv2D(32,(3,3),input_shape = (60,80,3), activation = 'relu'))

classifier.add(MaxPooling2D(pool_size=(3, 3)))

classifier.add(Conv2D(32,(3,3), activation = 'relu'))
classifier.add(MaxPooling2D(pool_size=(3, 3)))

classifier.add(Flatten())

classifier.add(Dense(units=32,activation = 'relu'))
classifier.add(Dense(units=64,activation = 'relu'))
classifier.add(Dense(units=128,activation = 'relu'))
classifier.add(Dense(units=256,activation = 'relu'))
classifier.add(Dense(units=512,activation = 'relu'))

classifier.add(Dense(units=7,activation = 'softmax'))

classifier.compile(optimizer='adam',
              loss="categorical_crossentropy",
              metrics=['accuracy'])

## Fitting Data in our Neural Network

In [ ]:
from math import ceil

classifier.fit_generator(
    generator=training_generator,
    steps_per_epoch=ceil(0.8 * (df.shape[0] / batch_size)),

    validation_data=validation_generator,
    validation_steps=ceil(0.2 * (df.shape[0] / batch_size)),

    epochs=5,
    verbose=1
)

loss, acc = classifier.evaluate_generator(validation_generator, steps=ceil(0.2 * (df.size / batch_size)))
print("\n%s: %.2f%%" % (classifier.metrics_names[1], acc * 100))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: UserWarning: `Model.fit_generator` is deprecated and will be removed in a future version. Please use `Model.fit`, which supports generators.
  # This is added back by InteractiveShellApp.init_path()

Epoch 1/5
139/139 [==============================] - 33s 174ms/step - loss: 0.8150 - accuracy: 0.8048 - val_loss: 0.2392 - val_accuracy: 0.9251
Epoch 2/5
139/139 [==============================] - 23s 168ms/step - loss: 0.1881 - accuracy: 0.9419 - val_loss: 0.1903 - val_accuracy: 0.9415
Epoch 3/5
139/139 [==============================] - 24s 170ms/step - loss: 0.1501 - accuracy: 0.9543 - val_loss: 0.1708 - val_accuracy: 0.9460
Epoch 4/5
139/139 [==============================] - 23s 168ms/step - loss: 0.1274 - accuracy: 0.9616 - val_loss: 0.1555 - val_accuracy: 0.9559
Epoch 5/5
139/139 [==============================] - 23s 168ms/step - loss: 0.1163 - accuracy: 0.9648 - val_loss: 0.1344 - val_accuracy: 0.9577

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: UserWarning: `Model.evaluate_generator` is deprecated and will be removed in a future version. Please use `Model.evaluate`, which supports generators.

WARNING:tensorflow:Your input ran out of data; interrupting training. Make sure that your dataset or generator can generate at least `steps_per_epoch * epochs` batches (in this case, 382 batches). You may need to use the repeat() function when building your dataset.

accuracy: 95.77%

## Saving the Model for further use

In [ ]:
classifier.save("model.h5")

## Testing on our data

In [ ]:
import numpy as np
from keras.preprocessing import image

filename = "15970.jpg"

from keras.models import load_model
new_model = load_model('model.h5')
new_model.summary()

test_image = image.load_img("images/"+filename,target_size=(60,80))
test_image = image.img_to_array(test_image)
test_image = np.expand_dims(test_image, axis = 0)

result = new_model.predict(test_image)
print(result)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 58, 78, 32)        896

 max_pooling2d (MaxPooling2D  (None, 19, 26, 32)       0
 )

 conv2d_1 (Conv2D)           (None, 17, 24, 32)        9248

 max_pooling2d_1 (MaxPooling  (None, 5, 8, 32)         0
 2D)

 flatten (Flatten)           (None, 1280)              0

 dense (Dense)               (None, 32)                40992

 dense_1 (Dense)             (None, 64)                2112

 dense_2 (Dense)             (None, 128)               8320

 dense_3 (Dense)             (None, 256)               33024

 dense_4 (Dense)             (None, 512)               131584

 dense_5 (Dense)             (None, 7)                 3591

=================================================================
Total params: 229,767
Trainable params: 229,767
Non-trainable params: 0
_________________________________________________________________
[[1.9035469e-04 9.9969244e-01 6.1928979e-05 5.0384555e-05 4.9949055e-12
  4.7658864e-06 2.8410884e-07]]

In [ ]:
val = np.argmax(result)
print(val)

1

In [ ]:
my_dict = training_generator.class_indices
key_list = list(my_dict.keys()) 
val_list = list(my_dict.values()) 
print(key_list[val])

Apparel

## Saving the Class IDs

In [ ]:
import pickle
# save the model to disk
filename1 = 'key_list'
filename = 'val_list'
pickle.dump(key_list, open(filename1, 'wb'))
pickle.dump(val_list, open(filename, 'wb'))